<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Voting App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>
  <main>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Voting App</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {{#if user}}
          <li><a href="/users/profile">Profile</a></li>
          <li><a href="/users/logout">Logout</a></li>
        {{else}}
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
        {{/if}}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        {{#if user}}
          <li><a href="/users/profile">Profile</a></li>
          <li><a href="/users/logout">Logout</a></li>
        {{else}}
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
        {{/if}}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {{#if errors}}
    {{#each errors}}
    <div class="container">
      <ul class="collection">
        <li class="collection-item red lighten-3">{{msg}}</li>
      </ul>
    </div>
    {{/each}}
  {{/if}}

  {{{body}}}

  </main>

  <footer class="page-footer light-blue lighten-1">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="light-blue-text text-lighten-3" href="https://github.com/Schloham">Louis</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="/javascripts/materialize.js"></script>
  <script src="/javascripts/init.js"></script>
  </body>
</html>
