  <div class="row">
    <div class="container col-lg-12">
      {{#if success_msg}}
        <ul class="collection">
          <li class="collection-item green lighten-3">{{success_msg}}</li>
        </ul>
      {{/if}}

      {{#if error_msg}}
        <ul class="collection">
          <li class="collection-item red lighten-3">{{error_msg}}</li>
        </ul>
      {{/if}}

      {{#if error}}
        <ul class="collection">
          <li class="collection-item red lighten-3">{{error}}</li>
        </ul>
      {{/if}}
    </div>
  </div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3>Login</h3>
      <div class="row">
          <form class="col s12" method="post" action="/users/login">
            <div class="row">
              <div class="input-field col s12">
                <input id="first_name" type="text" class="validate" name="username">
                <label for="first_name">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      <br><br>

    </div>
  </div>
